In [43]:
import pandas as pd
from sklearn.linear_model import LinearRegression
# Cargamos el dataset
df = pd.read_csv("../../data/homeprices2.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [29]:
# Creamos el hot encoding
dummies = pd.get_dummies(df.town)

dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [30]:
# Concatenamos el hot encoding con el dataset
merged = pd.concat([df, dummies], axis='columns')

merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [31]:
final = merged.drop(['town'], axis='columns')

final

    area   price  monroe township  robinsville  west windsor
0   2600  550000                1            0             0
1   3000  565000                1            0             0
2   3200  610000                1            0             0
3   3600  680000                1            0             0
4   4000  725000                1            0             0
5   2600  585000                0            0             1
6   2800  615000                0            0             1
7   3300  650000                0            0             1
8   3600  710000                0            0             1
9   2600  575000                0            1             0
10  2900  600000                0            1             0
11  3100  620000                0            1             0
12  3600  695000                0            1             0

# Dummy Variables trap

In [32]:
final2 = final.drop(['west windsor'], axis='columns')
final2

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [33]:
# Características y etiquetas, X y y respectivamente
X2 = final2.drop(['price'], axis='columns')  # Características
print(X2)

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [34]:
# Variable objetivo
y2 = final2.price  # Etiquetas
print(y2)

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [45]:
model = LinearRegression()

In [36]:
model.fit(X2,y2)

LinearRegression()

In [37]:
model.predict(X2)

array([539709.7398409 , 590468.71640508, 615848.20468716, 666607.18125134,
       717366.15781551, 579723.71533005, 605103.20361213, 668551.92431735,
       706621.15674048, 565396.15136531, 603465.38378844, 628844.87207052,
       692293.59277574])

In [38]:
# porcentaje de acierto del modelo
model.score(X2,y2)

0.9573929037221873

In [39]:
model.predict([[3400,0,0]])

C:\Users\sergi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([681241.66845839])

# Sin eliminación de un campo

### Esto es un mal uso del modelo (hay que eliminar si o si un campo)

In [44]:
# Características y etiquetas, X y y respectivamente
X = final.drop(['price'], axis='columns')  # Características
#print(X)

# Variable objetivo
y = final.price  # Etiquetas
#print(y)

model = LinearRegression()

# Entrenamos el modelo
model.fit(X, y)

# Predecimos el precio de una casa en monroe township
model.predict(X)

print(model.predict(X))

# score
print("Score",model.score(X, y))

# Predecimos el precio de una casa en robbinsville
model.predict([[3400, 0, 0,0]])

[539709.73984091 590468.71640508 615848.20468716 666607.18125133
 717366.1578155  579723.71533005 605103.20361214 668551.92431735
 706621.15674047 565396.15136531 603465.38378844 628844.87207052
 692293.59277574]
Score 0.9573929037221873

C:\Users\sergi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([663127.82197376])