In [43]:
!pip install word2number

Requirement already satisfied: word2number in c:\users\sergi\anaconda3\lib\site-packages (1.1)

In [44]:
import pandas as pd

from sklearn import linear_model
from word2number import w2n

In [45]:
df = pd.read_csv("data\hiring.csv", sep=",")

df

  experience  test_score  interview  salary
0        NaN         8.0          9   50000
1        NaN         8.0          6   45000
2       five         6.0          7   60000
3       two         10.0         10   65000
4      seven         9.0          6   70000
5      three         7.0         10   62000
6        ten         NaN          7   72000
7     eleven         7.0          8   80000

In [46]:
# si se encuentra vacio se reemplaza por 0
df.experience = df.experience.fillna("zero")

In [47]:
df

  experience  test_score  interview  salary
0       zero         8.0          9   50000
1       zero         8.0          6   45000
2       five         6.0          7   60000
3       two         10.0         10   65000
4      seven         9.0          6   70000
5      three         7.0         10   62000
6        ten         NaN          7   72000
7     eleven         7.0          8   80000

In [48]:
df.experience = df.experience.apply(w2n.word_to_num)

In [49]:
df

   experience  test_score  interview  salary
0           0         8.0          9   50000
1           0         8.0          6   45000
2           5         6.0          7   60000
3           2        10.0         10   65000
4           7         9.0          6   70000
5           3         7.0         10   62000
6          10         NaN          7   72000
7          11         7.0          8   80000

In [50]:
# para la nota del test vacia se reemplaza por la media
median_test_score = df.test_score.median()
df.test_score = df.test_score.fillna(median_test_score)

In [51]:
df

   experience  test_score  interview  salary
0           0         8.0          9   50000
1           0         8.0          6   45000
2           5         6.0          7   60000
3           2        10.0         10   65000
4           7         9.0          6   70000
5           3         7.0         10   62000
6          10         8.0          7   72000
7          11         7.0          8   80000

In [53]:
# vamos a crear un modelo de regresion lineal
reg = linear_model.LinearRegression()

# entrenamos el modelo
reg.fit(df[['experience', 'test_score', 'interview']], df['salary'])

LinearRegression()

In [55]:
# vamos a predecir el salario de un candidato con 2 años de experiencia, 9 en el test y 6 en la entrevista
print(reg.predict([[2, 9, 6]]))

[53205.96797671]

C:\Users\sergi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [56]:
# vamos a predecir el salario de un candidato con 12 años de experiencia, 10 en el test y 10 en la entrevista
print(reg.predict([[12, 10, 10]]))

[92002.18340611]

C:\Users\sergi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(