# ColumnTransformer

Es un método de scikit learn y nos sirve para hacer preprocesamiento de datos distintos a diferentes columnas, por ejemplo a una columna nominal le podemos explicar OneHotEncoding, normmalizar una numética,etc.

In [1]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
import pandas as pd

In [4]:
data = {
    'Face':[7.2500,71.9250,7.9250,53.1,8.05,8.4583],
    'Embarked':['S','C','S','S','S','Q'],
    'Sex':['male','female','female','female','male','male'],
    'Age':[22.0,30.0,26.0,35.0,35.0,'NaN']
}

df = pd.DataFrame(data)

X = df[data.keys()]

X

      Face Embarked     Sex   Age
0   7.2500        S    male  22.0
1  71.9250        C  female  30.0
2   7.9250        S  female  26.0
3  53.1000        S  female  35.0
4   8.0500        S    male  35.0
5   8.4583        Q    male   NaN

In [5]:
ohe = OneHotEncoder()
imp = SimpleImputer()

## Aplicar el transformer

In [7]:
ct = make_column_transformer(
    (ohe, ['Embarked', 'Sex']),
    (imp, ['Age']),
    remainder= 'passthrough'
)

ct.fit_transform(X)

array([[ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 22.    ,  7.25  ],
       [ 1.    ,  0.    ,  0.    ,  1.    ,  0.    , 30.    , 71.925 ],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 26.    ,  7.925 ],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 35.    , 53.1   ],
       [ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 35.    ,  8.05  ],
       [ 0.    ,  1.    ,  0.    ,  0.    ,  1.    , 29.6   ,  8.4583]])

## OneHotEncoder

1. OneHotEncoder nominales
2. OneHotEncoder ordinales, existe una relacion de orden entre los datos

In [8]:
import pandas as pd
X = pd.DataFrame({'Shape': ['squere','square','oval','circle'],
                  'Class': ['third','first','second','third'],
                  'Size':  ['S','S','L','XL']  
                })

X

    Shape   Class Size
0  squere   third    S
1  square   first    S
2    oval  second    L
3  circle   third   XL

In [9]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

## 1. Datos Nominales

### En primer lugar haremos OneHotEncoding de datos nominales Shape

Las columnas se ordenan alfabéticamente por tanto tenemos circle, oval, square.

In [10]:
ohe = OneHotEncoder(sparse=False)
ohe.fit_transform(X[['Shape']])

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.]])

# 2. Datos Ordinales

###  En segundo lugar haremos el OneHotEncoding de datos nominales Class y Size

El orden de las columnas lo definimos nosotros.

first, second, third.

S,M,L,XL

In [11]:
oe = OrdinalEncoder(categories=[['first','second','third'], ['S','M','L','XL']])
oe.fit_transform(X[['Class','Size']])

array([[2., 0.],
       [0., 0.],
       [1., 2.],
       [2., 3.]])