In [1]:
import pandas as pd

from sklearn import linear_model
import  matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data/homeprices_multiple.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
reg = linear_model.LinearRegression()

reg.fit(df.drop("price",axis="columns"),df.price)

LinearRegression()

In [11]:
print("Intercept",reg.intercept_)
print("coef",reg.coef_)

Intercept 221323.0018654043
coef [  112.06244194 23388.88007794 -3231.71790863]